	.couple{
		width: 100%;
		padding-bottom: 40px;
	}

	.days-until {
		text-align: center;
		font-size: 4vw;
		margin-top: 40px;
		font-family: 'Cinzel', serif;
	}


@media screen and (max-width: 320px) {
	.flowers {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		width: 99%;
	}

	.tulips {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.firstbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.secondbouquet {
		display: none;
	}

	.thirdbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.fourthbouquet {
		display: none;
	}

	.fifthbouquet {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.flowers {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		width: 99%;
	}

	.tulips {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.firstbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.secondbouquet {
		display: none;
	}

	.thirdbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.fourthbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.fifthbouquet {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.flowers {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		width: 99%;
	}

	.tulips {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.firstbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.secondbouquet {
		display: none;
	}

	.thirdbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.fourthbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.fifthbouquet {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
}

@media screen and (max-width: 600px) {
	.top-line {
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: white;
		opacity: 0.9;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	.date {
		display: none;
	}

	.vl {
		display: none;
	}

	.city {
		display: none;
	}

	.RSVP {
		margin-left: auto;
		margin-right: 2.5%;
		border: 1px solid black;
		background-color: transparent;
	}

	.RSVP a {
		font-size: 10px;
		color: black;
		text-decoration: none;
		text-align: center;
		font-family: 'Cinzel', serif;
	}

	.nav-drop-down {
		border: 0;
		background-color: transparent;
	}

	.nav-drop-down:focus {
		outline: none;
	}

	.nav-drop-down:hover {
		font-size: 110%
	}

	.drop-down-list {
		display: none;
	}

	.drop-down-list.show {
		position: absolute;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		text-transform: uppercase;
		margin-top: 20px;
		background-color: white;
		opacity: 0.95;
		width: 100%;
	}

	.drop-down-list li {
		position: relative;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		text-align: center;
	}

	.drop-down-list a {
		position: relative;
		font-size: 15px;
		color: black;
		text-decoration: none;
	}

	.drop-down-list a:hover {
		border-bottom: 1px solid black;
		opacity: 0.5;
	}

	.parent-names {
		display: flex;
		justify-content: center;
		padding-top: 35px;
	}

	.names {
		font-size: 40px;
		font-family: 'Cinzel', serif;
	}

	.registered {
		height: 15px;
		width: 100%;
		background-color: #08450a;
		margin-bottom: 6%;
	}

	.nav-bar {
		display: none;
	}

	.nav-bar li a {
		display: none;
	}

	.wedding-info {
		display: flex;
		flex-direction: column;
	}

	.Elise-name {
		margin-top: 5%;
		font-size: 55px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
	}

	.and {
		font-size: 35px;
		text-align: center;
		font-family: 'Cinzel', serif;
		margin: 8% 0;
	}

	.Benedict-name {
		font-size: 55px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 8%;
	}
	.hline-parent {
		display: flex;
		justify-content: center;
	}

	.horizontal-line {
		border-bottom: 1px solid black;
		width: 200px;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	.place {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 8%;
		margin-top: 8%;
	}

	.location {
		font-size: 35px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 2%;
	}

	.date-two {
		font-size: 35px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.BigCount {
		display: flex;
		flex-direction: column;
		margin-top: 3%;
		margin-bottom: 15%;
		margin-left: 5%;
		width: 90%;
		height: 180px;
		border: 1px solid black;
		background-color: #f2f2f2;
		border-radius: 5px;
	}

	.hl-parent{
		display: flex;
		justify-content: center;
		margin: 2%;
	}

	.hl {
		border-bottom: 1px solid black;
		width: 100px;
	}

	.countdown {
		width: 100%;
		height: 150px;
		font-size: 70px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
	}


	.flowers {
		margin: 15% 0 10% 0;
		display: flex;
		justify-content: space-between;
		width: 99%;
	}

	.tulips {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.firstbouquet {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.secondbouquet {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.thirdbouquet {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.fourthbouquet {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.fifthbouquet {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.prayer {
		font-size:  8px;
		margin-top: 30px;
		text-align: center;
		font-family: 'Cinzel', serif;
	}

	.footer {
		height: 20px;
		width: 100%;
		background-color: #08450a;
	}
}

@media screen and (min-width: 601px) {

	.top-line {
		display: flex;
	}

	.date {
		padding-right: 15px;
		font-size: 14px;
		font-family: 'Cinzel', serif;
	}

	.vl {
		border-left: 1.5px solid black;
		border-radius: 9px;
		height: 16px;
		margin-top: 1px;
		padding: 0;
	}

	.city {
		font-size: 14px;
		padding-left: 15px;
		font-family: 'Cinzel', serif;
	}

	.RSVP {
		margin-left: auto;
		margin-right: 0.5%;
		border: 1px solid black;
		background-color: transparent;
	}

	.RSVP:hover {
		background-color: lightgrey;
		cursor: pointer;
	}

	.RSVP a {
		font-size: 15px;
		color: black;
		text-decoration: none;
		text-align: center;
		font-family: 'Cinzel', serif;
	}

	.nav-drop-down {
		display: none;
	}

	.drop-down-list {
		display: none;
	}

	.parent-names {
		display: flex;
		justify-content: center;
		padding: 8px;
	}

	.names {
		font-size: 75px;
		font-family: 'Great Vibes', cursive;
	}

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style: none;
		width: 50%;
	}


	.nav-bar li {
		margin: 0 5%;

	}

	.nav-bar li a {
		text-decoration: none;
		color: black;
		font-size: 15px;
		text-transform: uppercase;
	}

	.nav-bar a:hover {
		color: lightgrey;
		border-bottom: 1px solid lightgrey;
	}

	.sticky {
 		position: fixed;
 		top: 0;
  		width: 100%;
  		background-color: white;
  		opacity: 0.9;
	}

	.wedding-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 5%;
		margin-bottom: 8%;
	}

	.Elise-name {
		font-size: 80px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-top: 5%;
	}

	.and {
		font-size: 65px;
		text-align: center;
		font-family: 'Cinzel', serif;
		margin: 5% 0;
	}

	.Benedict-name {
		font-size: 80px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.hline-parent {
		display: flex;
		justify-content: center;
	}

	.horizontal-line {
		border-bottom: 1px solid black;
		width: 500px;
		margin-bottom: 10%;
	}

	.place {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-top: 5%;
		margin-bottom: 8%;
	}

	.location {
		font-size: 60px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 3%;
	}

	.date-two {
		font-size: 60px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.BigCount {
		display: flex;
		flex-direction: column;
		margin-top: 3%;
		margin-bottom: 10%;
		margin-left: 5%;
		width: 90%;
		height: 250px;
		border: 1px solid black;
		background-color: #f2f2f2;
		border-radius: 5px;
	}

	.hl-parent{
		display: flex;
		justify-content: center;
	}

	.hl {
		border-bottom: 1px solid black;
		width: 300px;
	}

	.countdown {
		width: 100%;
		height: 200px;
		font-size: 100px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
	}

	.flowers {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		width: 99%;
	}

	.tulips {

		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.firstbouquet {

		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.secondbouquet {

		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.thirdbouquet {
	width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.fourthbouquet {
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.fifthbouquet {
		display: none;
	}

	.prayer {
		font-size:  15px;
		margin-top: 30px;
		text-align: center;
		font-family: 'Cinzel', serif;
	}

	.footer {
		height: 40px;
		width: 100%;
		background-color: #08450a;
	}

}

@media screen and (min-width: 700px) {
	.Elise-name {
		font-size: 70px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-top: 5%;
	}

	.and {
		font-size: 55px;
		text-align: center;
		font-family: 'Cinzel', serif;
		margin: 5% 0;
	}

	.Benedict-name {
		font-size: 70px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.fifthbouquet {
		display: unset;
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}
}

@media screen and (min-width: 850px) {
	.Elise-name {
		font-size: 80px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-top: 5%;
	}

	.and {
		font-size: 65px;
		text-align: center;
		font-family: 'Cinzel', serif;
		margin: 5% 0;
	}

	.Benedict-name {
		font-size: 80px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.tulips {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.firstbouquet {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.secondbouquet {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.thirdbouquet {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.fourthbouquet {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.fifthbouquet {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}
}

@media screen and (min-width: 1150px) {
	.Elise-name {
		font-size: 90px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-top: 5%;
	}

	.and {
		font-size: 75px;
		text-align: center;
		font-family: 'Cinzel', serif;
		margin: 5% 0;
	}

	.Benedict-name {
		font-size: 90px;
		text-align: center;
		font-family: 'Great Vibes', cursive;
		margin-bottom: 5%;
	}

	.tulips {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.firstbouquet {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.secondbouquet {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.thirdbouquet {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.fourthbouquet {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.fifthbouquet {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}
}
